.bg-container {
  display: flex;
  padding: 20px;
  background-image: linear-gradient(to bottom, black, white, black);
  height: 100vh;
}

.side-container {
  width: 40%;
  height: 100vh;
}
.search-container {
  margin-bottom: 18px;
}

.search-label {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.inp-search-ele {
  height: 28px;
  font-size: 15px;
  width: 100%;
}

.video-list-container {
  height: 90vh;
  overflow-y: scroll;
}

.video-container {
  height: 90vh;
  margin-left: 10px;
}

.video-heading {
  font-size: 20px;
  color: white;
}

.class-video {
  margin-top: 15px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  .bg-container {
    display: flex;
    flex-direction: column;
  }

  .video-container {
    height: 50vh;
  }

  .side-container {
    order: 2;
  }

  .search-label {
    color: black;
  }

  .side-container {
    width: 100%;
  }

  .video-list-container {
    height: 300px;
    overflow-y: scroll;
  }

  .search-container {
    margin-top: 10px;
  }
}
